<!DOCTYPE html>
<html lang="en">
  <%- include("head", {pageAuthor: "Tom Riley", pageTitle: "Blog"}) %>
  <body>
    <%- include("header-nav") %>
    <div id="error-message">
        <%= content %>
    </div>
    <%- include("footer") %>
  </body>
</html>
