<head>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/minimal.css" />
  <!-- basic favicon -->
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <meta charset="utf-8" />
  <meta name="author" content="<%= pageAuthor %>" />
  <meta
    name="description"
    content="A place for Tom to publish random thoughts
      online."
  />
</head>
