<head>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
  <link rel="stylesheet" href="/css/minimal.css" />
  <link rel="stylesheet" href="/css/print.css" media="print" />
  <!-- basic favicon -->
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <meta charset="utf-8" />
  <meta name="author" content="<%= pageAuthor %>" />
  <meta
    name="description"
    content="A place for Tom to publish random thoughts
      online."
  />
</head>
