<!DOCTYPE html>
<html lang="en-CA">
  <%- include("head", {pageAuthor: "Tom Riley", pageTitle: "Tom Riley – A Personal Website"}) %>
  <body>
    <%- include("header-nav") %>
    <main>
      <article>
        <h2>A place for Tom to publish random thoughts online.</h2>
        <p>
          Welcome to my site! Home to musings about life and things I find
          interesting. Welcome! 😊
        </p>
        <p>
          Hey! I’m Tom. I love computers and nature and lots of other stuff! So
          there might be posts on here about those things, or maybe not… The
          only way to find out is to take a look around!
        </p>
        <p>
          At the time of writing, I am in my final term of my Electrical
          Engineering degree at the University of Waterloo.
        </p>
      </article>
    </main>
    <%- include("footer") %>
  </body>
</html>
