/* -----------------------------------------------------------------------------
  Global
----------------------------------------------------------------------------- */

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}

/* -----------------------------------------------------------------------------
  Layout
----------------------------------------------------------------------------- */

/* Container for body */
body {
  margin: 1em auto;
  max-width: 40em;
  padding: 0 0.62em;
}

/* Remove bullets on image list */
.blocks-gallery-item {
  list-style: none;
}

/* Fit image to parent container */
img {
  width: 100%;
}

/* Remove margin and padding around image gallery */
figure,
.wp-block-gallery,
.blocks-gallery-grid,
.blocks-gallery-item {
  padding: 0;
  margin: 0;
}

/* Full width for print view */
@media print {
  body {
    max-width: none;
  }
}

/* -----------------------------------------------------------------------------
  Typography
----------------------------------------------------------------------------- */

/* Header font styles */
h1,
h2,
h3 {
  font: 2em/1.2 sans-serif;
}

/* Body font styles */
body {
  font: 1.2em/1.62 sans-serif;
}

#error-message {
  font: 3em/1.2 sans-serif;
}

/* -----------------------------------------------------------------------------
  Colors
----------------------------------------------------------------------------- */

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }
  a:link {
    color: #9cf;
  }
  a:hover,
  a:visited:hover {
    color: #cef;
  }
  a:visited {
    color: #c9f;
  }
}
